<!DOCTYPE html>
<html>
<body>
	<h3>Welcome to the pKi Predictor!</h3>
	Simply enter a SMILE into the textbox and the pKi against JAK1, JAK2, JAK3, & TYK2 will be predicted
<div>
<form action="/result" method="POST">
	<input type="text" name="smile" size=70 placeholder="Enter SMILE"><br><br>
    <br>
	<input type="submit" value="Submit">
</form>
</div>
<div>
	<h4> Here are some example SMILES for you to try </h5>
        <li>C#CCCOC(=O)N1CCC(n2cc(C(N)=O)c(Nc3ccc(F)cc3)n2)C(C#N)C1</li>
        <li>C#CCN(c1ccc(C#N)cn1)C1CCN(c2ncnc3[nH]ccc23)C1</li>
		<li>CC(=O)SCC1CCC(c2nnn3cnc4[nH]ccc4c23)CC1</li>
</div>
</body>
</html>